# Entorno virtual
venv/
env/
.venv/
venv_windows/
venv_linux/
venv_mac/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Distribución / empaquetado
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs y bases de datos
*.log
*.sqlite

# Archivos de VS Code
.vscode/

# Archivos de PyCharm
.idea/

# Archivos de Jupyter Notebook
.ipynb_checkpoints

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de ambiente
.env

# Archivos temporales
*.tmp
*.bak
*.swp
temp_expediente/

# Carpetas de datos o resultados generados
data/
results/

# Archivos específicos del proyecto (ajusta según tus necesidades)
config.ini
secrets.json

# Portables
GestionExpedienteElectronico_Linux.zip
GestionExpedienteElectronico_Mac.zip
GestionExpedienteElectronico_Windows.zip

# Instrucción para crear el portable
# pyinstaller --name="GestionExpedienteElectronico" --onefile --windowed --add-data "assets;assets" --add-data "index_generator.py;." --add-data "file_utils.py;." --add-data "excel_handler.py;." app.py
